{{>navbar}}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
     
    #earthquake,#bargraph_data,#recovery_data{
  margin-right: 10%;
  margin-left: 10%;
   margin-top: 70px;
    margin-bottom: 70px; 
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
}
#earthquake p,#bargraph_data p,#recovery_data p{
    font-size: 25px;   
}

</style>
<body style="background-color: #1A1A1A;">
    <div id="earthquake">
        <h1>Impacted Areas By Extreme Weather Events</h1>
        <p>

A severe weather event such as heatwaves, floods, hurricanes, and wildfires can cause widespread damage and destruction in the affected areas. 
The severity of the impact depends on various factors, including the magnitude and nature of evnet. Some of the areas that are commonly impacted by these events are:
</p>
    </div>

    <div class='tableauPlaceholder' id='viz1730295229806' style='position: relative; margin: auto;'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Na&#47;Naturaldisastersbystate&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Naturaldisastersbystate&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Na&#47;Naturaldisastersbystate&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1730295229806');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='927px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>


    <div id="bargraph_data">
        <h1>Destruction By Extreme Weather events</h1>
    <p>


Severe weather events can cause widespread destruction and devastation to both human lives and the environment. Some of the destruction caused by these events includes: <br>

1. Loss of human life <br>

2. Infrastructure damage  <br>

3. Economic damage <br>
</p>
    
    </div>

    <div class='tableauPlaceholder' id='viz1730296094883' style='position: relative; margin: auto;'><noscript><a href='#'><img alt='FEMA Viz ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FE&#47;FEMA_visualization&#47;FEMAViz&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='FEMA_visualization&#47;FEMAViz' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FE&#47;FEMA_visualization&#47;FEMAViz&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1730296094883');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1200px';vizElement.style.height='2627px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>


</body>
{{>footer}}